.DS_Store
build/
.vscode/
deno.lock
node_modules/
# This node_modules is manually created and version-controlled. Inside it, we
# commit a symlink back up to our root-level "objc" package. It avoids having
# to do a package install both at root level and in the examples directory.
!examples/node_modules
NativeScript for macOS.app/
*.dylib
libffi/build_*
libffi/darwin_*
libffi/x86_64-*
compile_commands.json
.cache/
